@font-face {
    font-family: 'Libre Franklin Bold';
    src: url('assets/LibreFranklin-Bold.woff2') format('woff2'),
        url('assets/LibreFranklin-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Libre Franklin Regular';
    src: url('assets/LibreFranklin-Regular.woff2') format('woff2'),
        url('assets/LibreFranklin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
    margin: 0;
}
header,footer{
    background: #14291F;
    padding:30px 2rem;
}
header {
    border-bottom: 1px solid #ebebeb26;
}
img{
    width: 100%;
}
.page-width{
    max-width: 1440px;
    margin:auto;
}

h2,h3{
    font-family: 'Libre Franklin Bold';
}
p,span,h4{
    font-family: 'Libre Franklin Regular';
    font-weight: 400;
}
.banner_inner{
    max-width:1140px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0px;
}
.banner {
    background-image: url('assets/background.png');
}
.banner_inner .content{
    max-width: 500px;
}
.banner h2{
    color: #fff;
}
.app_border{
    color:#fff; 
    position: relative; 
    margin-bottom: 50px; 
    display: block;
}
.app_border svg {
    position: absolute;
    left: 0;
    bottom: -10px;
}
.bottom_banner .banner_inner{
    max-width: 1230px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #14291F;
    border-radius: 40px;
    padding: 4rem 7rem 5rem;
    position: relative;
}
.banner_inner .media img{
    max-width: 500px;
}
.bottom_banner .banner_inner .media {
    width: 300px;
}
.bottom_banner .banner_inner .media img {
    max-width: 300px;
    position: absolute;
    bottom: 0px;
}
.bottom_banner h2{
    font-size: 36px;
    color:#fff;
}
span{
    font-size: 16px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
}
h2{
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
}
h3{
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
}
p{

    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}
em{
   color: #987F4C;
   font-style: normal;
   font-weight: bold;
}
.steps{
    background:#F2F2F2;
}
.steps_inner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 920px;
    margin: auto;
}
.steps_inner .step:not(:last-child)::after {
    content: '';
    width: 3px;
    background: #D8D8D8;
    height: 50px;
    position: absolute;
    display: block;
    right: -10px;
    top: 0;
    bottom: 0;
    margin: auto;
}   

.step{
    padding: 20px;
    text-align: center;
    position: relative;
}
.image_with_text_inner .box{
    max-width: 920px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:4rem;
    padding: 8rem 10px;

}
.image_with_text .image_with_text_inner:nth-child(2){
    background: #F2F2F2;
  }
.image_with_text .image_with_text_inner:nth-child(2) .box{
   flex-direction: row-reverse;
}
.image_with_text_inner .box img{
    max-width: 280px;
}
footer{
    margin-top: 5rem;
}
.footer_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon p{
    color:#fff;
}
.app_icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    max-width: 450px;
}
.face_insta img{
    width: 100%;
    max-width: 40px;
    margin: 4px;
    max-height: 40px;
}
@media only screen and (max-width: 768px){
    header, footer {
        background: #14291F;
        padding: 12px 2rem;
    }
    .banner_inner{
        flex-direction: column-reverse;
        text-align: center;
        padding: 3rem;
    }  
    .banner_inner h2{
        text-align: center;
    }  
    .app_border svg {
        position: absolute;
        left: 0;
        bottom: -15px;
        right: 0;
        margin: auto;
        width: 178px;
    }
    .steps_inner {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
 
    .image_with_text_inner .box{
        flex-direction: column;
    }
    .image_with_text .image_with_text_inner:nth-child(2) .box {
        flex-direction: column;
    }
    .bottom_banner .banner_inner .media img{
        position: relative;
        display: flex;
    }
    .bottom_banner .banner_inner{
        flex-direction: column;
        gap: 3rem;
        padding: 3rem 2rem 0px;
    }

    h2{
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: center;        
    }
    p,span{
        font-size: 14px;
        font-weight: 00;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
    }
    .bottom_banner h2{
        font-size: 12px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
    }
    .app_icons svg{
        width: 100%;
    }
    .app_icons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .footer_inner{
        flex-direction: column;
    }
    .steps_inner .step:not(:last-child)::after {
        content: '';
        width: 3px;
        background: #D8D8D8;
        height: 50px;
        position: absolute;
        display: block;
        right: 0px;
        top: 0;
        bottom: 0;
        margin: auto;
    } 
       .steps_inner .step:nth-child(2)::after {
        display: none !important;
    }  
}
